
.bg{
    background-image: url(../images/contact_bg.jpg);
    border-right: 1px groove lightgrey;
    
}

ul a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
li a:hover{
    color: black;
}
ul li{
    list-style-type: none;

}