*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.card-box{
    position: relative;
    align-items: center;
    border-radius: 25px;
    transition: 0.8s;
    display: flex;
    width: 55%;
    height: 35%;
    margin-bottom: 20px;
}

.card-box .circle-animation{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.card-box .circle-animation::before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: black;
    clip-path: circle(120px at center);
    transition: 0.8s;
}

.card-box .img2::before{
    content: '';
    display: none;
}
.img1{
    opacity: 1;
    visibility: visible;
}
.img2{
    opacity: 0;
    visibility: hidden;
}
.card-box:hover .circle-animation:before{
    clip-path: circle(400px at center);
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 10px 16px 0 rgb(32 33 36 / 40%);
}
.card-box img{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 260px;
    width: 310px;
    transform: translate(-50%, -50% );
    pointer-events: none;
    transition: 0.8s;
}

.card-box:hover .img1{
    opacity: 0;
    visibility: hidden;
}

.card-box:hover .img2{
    left: 80%;
    top: 40%;
    opacity: 1;
    visibility: visible;
    transition: 0.8s;
    height: 310px;
    width: 360px;
}

.content{
    position: relative;
    width: 50%;
    left: 20%;
    transition: 0.8s;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
}

.card-box:hover .content{
    left: 0;
    opacity: 1;
    visibility: visible;
}

.mybtn{
    color: black;
    background-color: white;
    box-shadow: 0 5px 6px 0 rgb(32 33 36 / 40%);
    border-radius: 25px;
    text-decoration: none;
    padding: 5px 15px;
}

.mybtn:hover{
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow: inset 0 5px 5px 0 rgb(32 33 36 / 40%);
}

.products{
    position: relative;
    box-sizing: border-box;
    width: 90%;
    height: 600px;
    margin: 5%;
    overflow: scroll;
    border-radius: 25px;
    box-shadow: 0 7px 9px 0 rgb(32 33 36 / 60%);
}

.products::-webkit-scrollbar{
    display: none;
}

.tabs-btn{
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    width: 650px;
    margin-top: 10%;
    justify-content: space-between;
}
.brand-btn{
    width: 250px;
    background-color: white;
    height: 100px;
    width: 250px;
    align-items: center;
}

.brand-btn:hover{
    box-shadow: 0 7px 9px 0 rgb(32 33 36 / 60%);
    border-radius: 5px;
}

.brand-btn img{
    height: auto;
    width: 120px;
}


.toggle{
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 768px)
{

    .toggle{
        margin-top: 14%;
        top: 0%;
        padding: 10px;
        visibility: visible;
        opacity: 1;
        width: 100%;
        height: 50px;
        position: fixed;
        cursor: pointer;
        z-index: 100;
        background-color: black;
        color: white;
    }

    .toggle i{
        justify-content: center;
        padding: 5px 5px;
    }
    .toggle.active{
        background: url(../images/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .brand-btn{
        margin: 10px;
        height: 100px;
        width: 150px;
        display: inline;
        text-align: center;
    }

	.tabs-btn.active
	{
		position: relative;
	    margin-top: 20%;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: #fff;
	}
    .tabs-btn{
        display: none;
    }

    .products{
        margin-top: 30%;
    }
}