*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    align-items: center;
}


#titl{
    width: 120px;
    text-align: center;
    font-weight: bold;
    background-color: lightblue;
    color: blue;
    padding: 20px 20px 20px 20px;
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 60px;
    border-radius: 5px 5px 15px 15px;
}
#titl2{
    width: 120px;
    text-align: center;
    font-weight: bold;
    background-color: lightblue;
    color: blue;
    padding: 20px 20px 20px 20px;
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 380px;
    border-radius: 5px 5px 15px 15px;
}

