*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    align-items: center;
}
footer{
    background-color: lightgrey;
    border-top: 1px solid whitesmoke;
    box-shadow: inset 1px 1px 30px gray;
    
}
#brandsLogo a{
    filter: grayscale(80%);
}
#brandsLogo a:hover{
    filter: none;
}
.bg{
    background-image: url(../images/contact_bg.jpg);
    border-right: 1px groove lightgrey;
    
}


